$pomp:#455468; //dark blue
$circumstance:#27374B; //slightly darker blue
$establishment:#eef4f6; //very light grey
$republican:#f44c4c; //red
$democrat:#58bfe6; //blue
$white:#fff; //white

$breakpoint:'min-width:1024px'; // landscape tablet

@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700');
*, *:before, *:after {
  box-sizing:inherit;
  max-width:100%;
}
h1, h2, h3, p {
  margin:0;
  padding:0;
  & + * {
    margin:1rem 0 0;
  }
}
html, body {
  box-sizing:border-box;
  font-size:16px;
  @media ($breakpoint) {
    font-size:20px;
  }
}
body {
  background:$circumstance;
  background:-moz-linear-gradient(top,  $circumstance 0%, $pomp 100%);
  background:-webkit-linear-gradient(top,  $circumstance 0%, $pomp 100%);
  background:linear-gradient(to bottom,  $circumstance 0%, $pomp 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='$circumstance', endColorstr='$pomp',GradientType=0 );
  background-size:cover;
  background-attachment:fixed;
  color:$white;
  font:1rem/1.6 'Asap', helvetica, arial, sans-serif;
}
.preferencesForm {
  color:$pomp;
  background:$white;
}
.preferencesForm, .content {
  padding:1.6rem;
}
.page {
  text-align:center;
}
h1 {
  font-size:3rem;
  line-height:1.1;
}
h2 {
  font-size:1.6rem;
  line-height:1.2;
}
h3 {
  font-size:1.2rem;
  line-height:1.2;
  border-bottom:4px $establishment solid;
  padding-bottom:1rem;
  label {
    text-transform:none;
  }
}
.partyIcon {
  width:3rem;
}
label {
  line-height:1.2;
  font-weight:700;
  text-transform:uppercase;
  font-style:normal;
  display:block;
  span {
    font-style:italic;
    display:inline-block;
    margin-left:0.6rem;
    vertical-align:middle;
    text-transform:none;
    font-weight:400;
  }
  strong {
    text-transform:uppercase;
    font-style:normal;
    display:block;
  }
}
.radioButton,.checkButton {
  display:block;
  &:before {
    display:inline-block;
    content:' ';
    width:2rem;
    padding-right:1rem;
    height:2rem;
    background-image:url(./empty.png);
    background-position:left center;
    background-repeat:no-repeat;
    background-size:100%;
    vertical-align:middle;
  }
  img {
    margin-left:0.5rem;
  }
}
input[type="radio"],input[type="checkbox"] {
  display:none;
  &:checked + label:before {
    animation-duration:150ms;
    animation-fill-mode:both;
    transform-origin:center;
    animation-name:radioGrow;
    background-image:url(./checkradio.png);
  }
}
input[type="checkbox"] {
  &:checked + label:before {
    background-image:url(./check.png);
  }
}
.checkButton:before {
  margin-right:0.8rem;
}
label[for="partyRepublican"]:hover { 
  img {
    transition:transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform:rotate(6deg);
  }
}
label[for="partyDemocrat"]:hover { 
  img {
    transition:transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform:rotate(-6deg);
  }
}
select {
  -webkit-appearance:none;
  background:$establishment url(./caret.png) center right 1rem no-repeat;
  background-size:auto 0.6rem;
  padding:0.8rem 1.6rem;
  border-radius:1rem;
  border:0;
  &:focus {
    outline:0;
  }
}
.submit {
  display:inline-block;
  padding:0.6rem 1.6rem;
  background:$pomp;
  width:100%;
  color:#fff;
  font:inherit;
  font-weight:700;
  border-radius:1rem;
  border-bottom:0.4rem darken($pomp, 10%) solid;
  transition:border-bottom 150ms ease-in-out, background 150ms ease-in-out;
  &:hover {
    background:lighten($pomp, 3%);
    animation-duration:1s;
    animation-fill-mode:both;
    transform-origin:center;
    animation-name:swingSmall;
  }
  &:focus {
    outline:0;
    position:relative;
    top:2px;
  }
}
@media ($breakpoint) {
  html, body, body > div, body > div > div {
    min-height:100%;
    height:100%;
  }
  .container {
    overflow:hidden;
    height:100%;
  }
  .content {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding:8rem;
    animation-name:fadeInUp;
    animation-duration:1s;
    animation-fill-mode:both;
  }
  .page {
    float:left;
    height:100%;
    width:64%;
    position:relative;
  }
  .preferencesForm {
    float:right;
    width:36%;
    height:100%
  }
  .preferencesForm {
    padding:2.4rem;
  }
}
@keyframes swing {
  20% {
    transform:rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform:rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform:rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform:rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform:rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swingSmall {
  20% {
    transform:rotate3d(0, 0, 1, 3deg);
  }

  40% {
    transform:rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform:rotate3d(0, 0, 1, 3deg);
  }

  80% {
    transform:rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform:rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes fadeInUp {
  from {
    opacity:0;
    transform:translateY(0%);
  }

  to {
    opacity:1;
    transform:translateY(-50%);
  }
}
@keyframes radioGrow {
  from {
    transform:scale(0);
  }

  to {
    transform:scale(1);
  }
}
.swing {
  animation-duration:1s;
  animation-fill-mode:both;
  animation-delay:0.6s;
  transform-origin:center;
  animation-name:swing;
}