@import url(https://fonts.googleapis.com/css?family=Asap:400,400i,700);@import url(https://fonts.googleapis.com/css?family=Asap:400,400i,700);._3AeBhVzqE1rA7QqEQ_vOsr {
  float: right;
  max-height: 100vh;
  overflow: auto;
  width: 36%; }

._38J-ftQel0pPxZzGkmTsJf {
  padding: 0.8rem 1.6rem;
  text-align: center;
  line-height: 1.2; }

._1r5Z5WrwTrUvWSfq2_zBM6 {
  background: white;
  border-bottom: 4px #eef4f6 solid;
  border-radius: 0;
  color: #455468;
  display: block;
  font-family: "Asap";
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.8rem;
  width: 100%; }
  ._1r5Z5WrwTrUvWSfq2_zBM6 em {
    font-size: 1rem;
    padding: 0 .4rem; }
  ._1r5Z5WrwTrUvWSfq2_zBM6:hover {
    cursor: pointer;
    background: #eef4f6; }
  ._1r5Z5WrwTrUvWSfq2_zBM6:active {
    background: #eef4f6; }
  ._1r5Z5WrwTrUvWSfq2_zBM6:focus {
    outline: 0; }

._3zCcXlR0tYDf3gpkxIyMs7 {
  width: 1.5rem;
  margin-top: 0; }
*, *:before, *:after {
  box-sizing: inherit;
  max-width: 100%; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }
  h1 + *, h2 + *, h3 + *, p + * {
    margin: 1rem 0 0; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #455468; }

::selection {
  color: #fff;
  background: #455468; }

html, body {
  box-sizing: border-box;
  font-size: 16px; }
  @media (min-width: 1024px) {
    html, body {
      font-size: 20px; } }

body {
  background: #27374B;
  background: -moz-linear-gradient(top, #27374B 0%, #455468 100%);
  background: -webkit-linear-gradient(top, #27374B 0%, #455468 100%);
  background: linear-gradient(to bottom, #27374B 0%, #455468 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$circumstance', endColorstr='$pomp',GradientType=0 );
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font: 1rem/1.6 'Asap', helvetica, arial, sans-serif; }

._1SHm-yiv8HftVLdumkKYna {
  color: #455468;
  background: #fff; }

._1SHm-yiv8HftVLdumkKYna, ._38ewLqST_-wvzVo7jtBkoi {
  padding: 1.6rem; }

.hsf-nEl5Y9EFwHzgF6wH7 {
  text-align: center; }

h1 {
  font-size: 2.8rem;
  line-height: 1.1; }

h2 {
  font-size: 1.6rem;
  line-height: 1.2; }

h3 {
  font-size: 1.2rem;
  line-height: 1.2;
  border-bottom: 4px #eef4f6 solid;
  padding-bottom: 1rem; }
  h3 label {
    text-transform: none; }

._135bVHvgR3lZZrZF2lE-rb {
  width: 3rem; }

label {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  display: block; }
  label span {
    font-style: italic;
    display: inline-block;
    margin-left: 0.6rem;
    vertical-align: middle;
    text-transform: none;
    font-weight: 400; }
  label strong {
    text-transform: uppercase;
    font-style: normal;
    display: block; }

.vR6OY3tOQtVyqgUtU2Y8i {
  height: 2.4rem; }

._2pGgWXYMZwW8hbN8kDsVTo, ._3KjWJfdwHaQ_wJWT0YQFF0 {
  display: block; }
  ._2pGgWXYMZwW8hbN8kDsVTo:before, ._3KjWJfdwHaQ_wJWT0YQFF0:before {
    display: inline-block;
    content: ' ';
    width: 2rem;
    padding-right: 1rem;
    height: 2rem;
    background-image: url(empty.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle; }
  ._2pGgWXYMZwW8hbN8kDsVTo img, ._3KjWJfdwHaQ_wJWT0YQFF0 img {
    margin-left: 0.5rem; }

input[type="radio"], input[type="checkbox"] {
  display: none; }
  input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
    animation-duration: 150ms;
    animation-fill-mode: both;
    transform-origin: center;
    animation-name: _3A150Ym1dNtLJ_9UWU8MIG;
    background-image: url(checkradio.png); }

input[type="checkbox"]:checked + label:before {
  background-image: url(check.png); }

._3KjWJfdwHaQ_wJWT0YQFF0:before {
  margin-right: 0.8rem; }

label[for="partyRepublican"]:hover img {
  transition: transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-6deg); }

label[for="partyDemocrat"]:hover img {
  transition: transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(6deg); }

select {
  -webkit-appearance: none;
  background: #eef4f6 url(caret.png) center right 1rem no-repeat;
  background-size: auto 0.6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  border: 0;
  font: inherit;
  color: #455468; }
  select:focus {
    outline: 0; }

._3Ct4NsO9n0jJFdBAP-yaxZ {
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem 1.6rem;
  background: #455468;
  width: 100%;
  color: #fff;
  font: inherit;
  font-weight: 700;
  border-radius: 1rem;
  border-bottom: 0.4rem #313b49 solid;
  transition: border-bottom 150ms ease-in-out, background 150ms ease-in-out; }
  ._3Ct4NsO9n0jJFdBAP-yaxZ:hover {
    background: #4b5b71;
    animation-duration: 1s;
    animation-fill-mode: both;
    transform-origin: center;
    animation-name: _2Scs7IJcMMH4WoVLPnOTJc; }
  ._3Ct4NsO9n0jJFdBAP-yaxZ:focus {
    outline: 0;
    position: relative;
    top: 2px; }

@media (min-width: 1024px) {
  html, body, body > div, body > div > div {
    min-height: 100%;
    height: 100%; }
  ._2NygvoEhgypMmjhh4u70ps {
    overflow: hidden;
    height: 100%; }
  ._38ewLqST_-wvzVo7jtBkoi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8rem;
    animation-name: _1H0EwqkoKQS7r2aGO-H3iz;
    animation-duration: 1s;
    animation-fill-mode: both; }
  .hsf-nEl5Y9EFwHzgF6wH7 {
    float: left;
    height: 100%;
    width: 64%;
    position: relative; }
  ._1SHm-yiv8HftVLdumkKYna {
    float: right;
    width: 36%;
    height: 100%; }
  ._1SHm-yiv8HftVLdumkKYna {
    padding: 2.4rem; } }

@keyframes GIIwQJAlX3LNrgLrDWktx {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }

@keyframes _2Scs7IJcMMH4WoVLPnOTJc {
  20% {
    transform: rotate3d(0, 0, 1, 3deg); }
  40% {
    transform: rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: rotate3d(0, 0, 1, 3deg); }
  80% {
    transform: rotate3d(0, 0, 1, -3deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }

@keyframes _1H0EwqkoKQS7r2aGO-H3iz {
  from {
    opacity: 0;
    transform: translateY(0%); }
  to {
    opacity: 1;
    transform: translateY(-50%); } }

@keyframes _3A150Ym1dNtLJ_9UWU8MIG {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.GIIwQJAlX3LNrgLrDWktx {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.6s;
  transform-origin: center;
  animation-name: GIIwQJAlX3LNrgLrDWktx; }
._1r9T5a1Hvkf2RIEVbcMPp6 {
  background-color: #29394D;
  cursor: pointer;
  float: left;
  height: 50px;
  width: 50px;
  padding: 10px 5px 5px 10px;
  border: none;
  outline: none; }

.GRjSBBUWdDsw_V4G146cx {
  max-height: 100vh;
  overflow: auto; }

._2dcTw7pTJRUVbMbtN7C6aT {
  background-color: white;
  background-position: right 24px center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  border-bottom: 4px #eef4f6 solid;
  border-radius: 0;
  color: #455468;
  display: block;
  font-family: "Asap";
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.8rem;
  width: 100%;
  text-decoration: none;
  line-height: 1.2;
  background-image: url(house1.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT small {
    font-size: 0.85rem; }
  ._2dcTw7pTJRUVbMbtN7C6aT * + * {
    margin-top: 0; }
  ._2dcTw7pTJRUVbMbtN7C6aT:hover {
    background-image: url(arrow.png) !important;
    background-size: 50px !important;
    background-repeat: no-repeat !important;
    background-position: right 24px center !important;
    cursor: pointer;
    background: #eef4f6; }
    ._2dcTw7pTJRUVbMbtN7C6aT:hover ._2HJYQrzUzpmmZGWvbqbDOm {
      border: 2px #fff solid; }
  ._2dcTw7pTJRUVbMbtN7C6aT:active {
    background: #eef4f6; }
  ._2dcTw7pTJRUVbMbtN7C6aT:focus {
    outline: 0; }
  ._2dcTw7pTJRUVbMbtN7C6aT h3 {
    padding: 0;
    border-bottom: 0; }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(2n) {
    background-image: url(house2.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(3n) {
    background-image: url(house3.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(4n) {
    background-image: url(house4.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(5n) {
    background-image: url(house5.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(6n) {
    background-image: url(house6.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(7n) {
    background-image: url(house7.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(8n) {
    background-image: url(house8.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(9n) {
    background-image: url(house9.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(10n) {
    background-image: url(house10.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(11n) {
    background-image: url(house11.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(12n) {
    background-image: url(house12.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(13n) {
    background-image: url(house13.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(14n) {
    background-image: url(house14.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(15n) {
    background-image: url(house15.png); }
  ._2dcTw7pTJRUVbMbtN7C6aT:nth-child(16n) {
    background-image: url(house16.png); }

._2HJYQrzUzpmmZGWvbqbDOm {
  background: #eef4f6;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 100px;
  border: 2px #eef4f6 solid; }

._1Nd2cn0b9dh0ZOfo7TVrZt {
  background: #29394D;
  padding: 0.8rem 1.6rem;
  text-align: center;
  line-height: 1.2; }
  ._1Nd2cn0b9dh0ZOfo7TVrZt a {
    font-weight: 700;
    color: #fff;
    text-decoration: none; }
._2YPHdxwSzs_ZO_QxEIPCtW {
  background-color: white; }

.iXTiRDBbp9sXTkYxF-zrv {
  left: 20px;
  position: absolute;
  top: 20px;
  height: 50px; }
